<div class="code editor-wrapper">
  <div class="html-code">
    <h2>HTML</h2>
    <div
      [ngClass]="{
      'is-div': snippet.includes('div')
      }"
      *ngFor="let snippet of currentLevel?.htmlSnippets" class="code">{{snippet}}</div>
  </div>
  <div class="css-code">
    <h2>CSS</h2>
    <ng-container *ngFor="let css of currentLevel?.cssSnippets; let i = index"
                  class="code">
      <div *ngIf="i < snippetLength-1" class="code">
        {{css}}
      </div>
    </ng-container>
    <textarea
      [(ngModel)]="solution" (input)="compileSolution(solution)" rows="1"></textarea>
    <div class="code">}</div>
  </div>
</div>
