.code {
  color: white;
}

.html-snips {
  margin-left: 1rem;
}

.css-snips {
  margin-left: 1rem;
}

.editor-wrapper {
  display: grid;
  padding: 1rem;
  grid-template-columns: 50% 50%;
  height: 100%;

  .html-code {
    grid-column: 1;
    margin-right: 1rem;
    height: 100%;
    border-right: #F48FB1 3px solid;
  }

  .css-code {
    grid-column: 2;
  }

}

.is-div {
  color: #F48FB1;
  margin-left: 0 !important;
}

.is-css {
  color: #90CAF9;
  margin-left: 0 !important;
}

textarea {
  resize: none;
  background-color: var(--pink-300);
  color: white;
  font-family: Courier;
  width: 80%;
}
