.board-wrapper {
  background-color: #FFC1E3;
  height: calc(100% - 3rem);
  padding: 1.5rem;
}

.board {
  background-color: #E9AB5C;
  border: .5rem solid #B77B45;
  height: calc(100% - 3rem);
  padding: 1rem;
}

#postit {
}
