<div class="wrapper">
  <div class="left">
    <div class="slate">
      <app-board
        [currentLevel]="currentLevel"></app-board>
    </div>
    <div class="editor">
      <app-editor
        [tracker]="tracker"
        [currentLevel]="currentLevel"></app-editor>
    </div>
  </div>
  <div class="intruction right">
    <app-instructions
      [maxChapter]="maxChapter()"
      [isFirstLevel]="isFirstLevel"
      [isLastLevel]="isLastLevel"
      (selectChapter)="onSelectChapter($event)"
      (nextLevel)="onNextLevel($event)"
      (previousLevel)="onPreviousLevel($event)"
    [currentLevel]="currentLevel"></app-instructions>
  </div>
</div>

