/* You can add global styles to this file, and also import other style files */

/* Variables */
:root {
  --blue-300: #5D99C6;
  --blue-200: #90CAF9;
  --blue-100: #C3FDFF;
  --dark-purple: #292933;
  --pink-100: #FFC1E3;
  --pink-200: #F48FB1;
  --pink-300: #BF5F82;
}

/* Typograpgy */

* {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
}

h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

.code {
  font-family: Courier;
}

/* Layout */

body {
  margin: 0;
}

/* Components */

.button-primary {
  height: 2.5rem;
  min-width: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--blue-300);
  color: white;
  border-radius: 17px;
  font-weight: 700;
  box-shadow: none;
  border: none;
}

.button-primary:focus {
  outline: midnightblue solid 2px;
  transition: outline 0.3s ease-in;
}

.button-primary:disabled {
  background-color: grey;
}

.post-it {
  box-shadow: 2px 5px 7px 0px rgba(0,0,0,0.52);
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 1rem;
  margin-right: 1rem;
}

b {
  color: #5D99C6;
}
