.instructions-wrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 2rem);

  .instructions-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}
