<div class="info-wrapper">
  <h2>Welcome to CSSlate!</h2>
  <div class="info-text">
    <strong>CSSlate</strong> is a bachelor thesis project to research how games can impact our learning process.
    However, this is not the only tool to broaden your understanding of CSS and programming topics. Other helpful resources are:
    <br>
    <br>
    <a href="https://flexboxfroggy.com/">Flexbox Froggy</a>
    <br>
    <a href="https://cssgridgarden.com/">Grid Garden</a>
    <br>
    <a href="https://grasshopper.app/">Grasshopper</a>
    <br>
    <br>
    CSSlate is intended as a extendable open source project, which you can find at <a href="https://github.com/alisyons/csslate">Github</a>,
    so if you want to create your own CSS puzzles, you can simply extend the script.
    This project is currently in its testing phase.
  </div>
</div>
